/*导航条css*/

.navbar-header {
    margin-left: 20px;
    margin-top: 18px;
    margin-bottom: 10px;
    /*height: 80px;*/
}
#example-navbar-collapse-1 {
    margin-top: 19px;
}
.navbar .nav-pills > li > a {
    color: #000000;
    font-size: 18px;
}
.navbar .nav-pills > li > a:hover {
    background-color: #C7E1FF;
    color: #111111;
}
.navbar .nav-pills .active > a {
    background-color: #C7E1FF;
}
.navbar-right {
    margin-right: 5px;
}

/*高级搜索css*/

#dropdownBtn {
    background-color: #DDDDDD;
    color: #FFFFFF;
}

/*搜索条css*/

#searchBar {
    width: 94%;
    margin-top: -4px;
    margin-left: 30px;
}
#searchBar input {
    height: 42px;
}
#searchBar button {
    width: 62px;
    height: 42px;
}
